torch == 2.1.0
torchvision
matplotlib
torchinfo 
fastapi==0.103.2
uvicorn==0.23.2
tqdm
typing
streamlit
opencv-python
numpy 
pillow==10.0.0
langchain==0.0.229
pydantic
vertexai
google-cloud-aiplatform==1.33.0
